[core]
  editor = nvim
  excludesfile = .gitignore.local
[alias]
  lg = log --stat --decorate --graph
  ca = ! git add . && git commit
  b = branch -a --sort=committerdate -v
  cm = push origin master
  push = push origin HEAD
  pull = pull origin HEAD
  ss = stash show -p
  sl = stash list

	# Difftastic aliases, so `git dlog` is `git log` with difftastic and so on.
  dlog = -c diff.external=difft log --ext-diff -p # log out every commit with difftastic
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff

  ## Review
  # NOTE: remember to set REVIEW_BASE
  #
  # list files which have changed since REVIEW_BASE
  files = !git diff --name-only $(git merge-base HEAD $REVIEW_BASE)

  # Same as above, but with a diff stat instead of just names
  # (better for interactive use)
  stat = !git diff --stat $(git merge-base HEAD $REVIEW_BASE)

  # Open all files changed since REVIEW_BASE in Vim tabs
  # Then, run fugitive's :Gdiff in each tab, and finally
  # tell vim-gitgutter to show +/- for changes since REVIEW_BASE
  review = !nvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

  # Same as the above, except specify names of files as arguments,
  # instead of opening all files:
  # git reviewone foo.js bar.js
  reviewone = !nvim -p +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

[user]
  email = dghaehre@gmail.com
  name = Daniel
[pull]
  rebase = false
[includeIf "gitdir:~/Desktop/tomb/"]
  path = ~/Desktop/tomb/.gitconfig
[includeIf "gitdir:~/projects/vipps/"]
  path = ~/projects/vipps/.gitconfig
[includeIf "gitdir:~/projects/personal/"]
  path = ~/projects/personal/.gitconfig
[merge]
	summary = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
