[core]
  editor = nvim
  excludesfile = .gitignore.local
[alias]
  lg = log --stat --decorate --graph
  ca = ! git add . && git commit
  b = branch -a --sort=committerdate
  cm = push origin master
  push = push origin HEAD
  pull = pull origin HEAD
[user]
  email = dghaehre@gmail.com
  name = Daniel
[pull]
  rebase = false
[includeIf "gitdir:~/Desktop/tomb/"]
  path = ~/Desktop/tomb/.gitconfig
