fish/.config/fish/fish_variables
fish/.config/fish/secret.fish
newsboat/.newsboat/urls
newsboat/.newsboat/cache.db
newsboat/.newsboat/history.search
scripts/.local/bin/vipps
cargo/.cargo/*
!cargo/.cargo/config.toml
