git:
  pagers:
    - colorArg: always
      # pager: delta --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
      # externalDiffCommand: difft --color=always
      diffArgs: --color-words
gui:
  localBranchSortOrder: date
  # stuff relating to the UI
  scrollHeight: 2 # how many lines you scroll by
  scrollPastBottom: true # enable scrolling past the bottom
  sidePanelWidth: 0.3333 # number from 0 to 1
  expandFocusedSidePanel: false
  mainPanelSplitMode: 'flexible' # one of 'horizontal' | 'flexible' | 'vertical'
  language: 'en' # one of 'auto' | 'en' | 'zh' | 'pl' | 'nl' | 'ja'
  timeFormat: '02 Jan 06 15:04 MST' # https://pkg.go.dev/time#Time.Format
  theme:
    # lightTheme: false # For terminals with a light background
    activeBorderColor:
      - blue
      - bold
    inactiveBorderColor:
      - white
    optionsTextColor:
      - white
    selectedLineBgColor:
      - black
    selectedRangeBgColor:
      - black
    cherryPickedCommitBgColor:
      - cyan
    cherryPickedCommitFgColor:
      - blue
    unstagedChangesColor:
      - red
  commitLength:
    show: true
  mouseEvents: false
  skipDiscardChangeWarning: false
  skipStashWarning: false
  showFileTree: true # for rendering changes files in a tree format
  showListFooter: true # for seeing the '5 of 20' message in list panels
  showRandomTip: true
  showBottomLine: true # for hiding the bottom information line (unless it has important information to tell you)
  showCommandLog: false
  showIcons: true
  commandLogSize: 8
  splitDiff: 'auto' # one of 'auto' | 'always'
  authorColors:
    'Daniel': '#0000ff' # use red for John Smith
    'Daniel Haehre': '#0000ff' # use green for Alan Smithee
    # use blue for other authors
    '*': '#3B4252'
customCommands:
  - key: 'E'
    command: "floaterm {{.SelectedFile.Name | quote}}; kill -TERM (ps -o ppid= -p $fish_pid)"
    context: 'files'
    description: "open in vim from vim (floaterm)"
    output: terminal
  - key: "N"
    context: "worktrees"
    description: "Create new worktree from current branch"
    prompts:
      - type: "input"
        title: "Create a new worktree from {{ .CheckedOutBranch.Name }} with what name?"
        key: "Name"
        initialValue: ""
    command: "git worktree add /tmp/{{ .Form.Name }} {{ .CheckedOutBranch.Name }} -b {{ .Form.Name }}"
  - key: "D"
    context: "worktrees"
    description: "Force remove selected worktree"
    prompts:
      - type: "confirm"
        title: "Force Remove Worktree"
        body: "Are you sure you want to remove this worktree and any submodules?"
    command: "git worktree remove -f {{ .SelectedWorktree.Path | quote }}"
    loadingText: "Removing worktree..."
    output: log
  - key: "P"
    context: "worktrees"
    description: "Prune worktrees"
    prompts:
      - type: "confirm"
        title: "Prune Worktrees"
        body: "Are you sure you want to prune worktrees?"
    command: "git worktree prune"
    loadingText: "Pruning worktree..."
    output: log
  - key: "T"
    context: "files"
    description: "Transfer staged changes to main worktree"
    command: |
      set MAIN_DIR (git worktree list | head -n 1 | awk '{print $1}')
      and git stash push --staged --keep-index -m "from-{{.CheckedOutBranch.Name}}"
      and cd "$MAIN_DIR"
      and git stash pop
    loadingText: "Transferring staged changes..."
    output: popup
  # Create a detached worktree from selected branch (when in branches view)
  - key: "F"
    context: "files"
    description: "Make AI fix your staged changes in another worktree"
    command: "git-fix"
  - key: "N"
    context: "localBranches"
    description: "Review selected branch with worktree"
    prompts:
      - type: "input"
        title: "Create a new worktree from {{ .SelectedLocalBranch.Name }} with what name?"
        key: "Name"
        initialValue: ""
    command: "git worktree add /tmp/{{ .Form.Name }} {{ .SelectedLocalBranch.Name }} -b {{ .Form.Name }} && tmux neww -c /tmp/{{ .Form.Name }}"
  # Create a detached worktree from selected branch (when in branches view)
  - key: "<c-r>"
    context: "localBranches"
    description: "Review selected branch with worktree"
    command: "git worktree add /tmp/{{ .SelectedLocalBranch.Name }}-review {{ .SelectedLocalBranch.Name }} --detach && tmux neww -c /tmp/{{ .SelectedLocalBranch.Name }}-review"

  - key: "v"
    context: "localBranches"
    loadingText: "Checking out GitHub Pull Request..."
    command: "gh pr checkout {{.Form.PullRequestNumber}}"
    prompts:
      - type: "menuFromCommand"
        title: "Which PR do you want to check out?"
        key: "PullRequestNumber"
        command: >-
          gh pr list --json number,title,headRefName,updatedAt
          --template '{{`{{range .}}{{printf "#%v: %s - %s (%s)" .number .title .headRefName (timeago .updatedAt)}}{{end}}`}}'
        filter: '#(?P<number>[0-9]+): (?P<title>.+) - (?P<ref_name>[^ ]+).*'
        valueFormat: '{{.number}}'
        labelFormat: '{{"#" | black | bold}}{{.number | white | bold}} {{.title | yellow | bold}}{{" [" | black | bold}}{{.ref_name | green}}{{"]" | black | bold}}'
